<%= form_with(model: manga, local: true) do |form| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
      <% manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sinopse %><br>
    <%= form.text_field :synopsis %>
  </div>

  <div class="field">
    <%= form.label :autor %><br>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label raw("Gênero(s)") %><br>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :imagem %><br>
    <%= form.file_field :image, required: true %>>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Mangá") %>
  </div>
<% end %>
