<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div style="width:450px;height:650px">
          <%= image_tag(@manga.image, style:'width:100%;height:100%') %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 25%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Título:</strong></td>
                <td><%= @manga.title %></td>
              </tr>
              <tr>
                <td><strong>Sinopse:</strong></td>
                <td><%= @manga.synopsis %></td>
              </tr>
              <tr>
                <td><strong>Gênero(s):</strong></td>
                <td><%= @manga.genre %></td>
              </tr>
              <tr>
                <td><strong>Autor:</strong></td>
                <td><%= @manga.author %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Escrever uma análise", new_manga_review_manga_path(@manga) %>
        </div>
      </div>
    </div>
    <div class="row-md-offset-3">
      <div><h3>Análises</h3></div>
      <% if @review_mangas.blank? %>
        <h3>Sem análises</h3>
        <%= link_to "Escrever análise", new_manga_review_manga_path(@manga), class: "btn btn-danger" %>
      <% else %>
        <% @review_mangas.each do |review_manga| %>
          <div class="reviews">
            <small class="author">Análise feita por: <%= review_manga.user.name %></small></p>
            <p>Nota: <%= review_manga.rating %></p>
            <p><%= review_manga.comment %></p>
            <% if user_signed_in?%>
              <% if current_user.admin? -%>
                <% if review_manga.user == current_user %>
                  <div class="btn-group">
                    <%= link_to 'Editar', edit_manga_review_manga_path(@manga, review_manga.id), class: "btn btn-default" %>
                    <%= link_to 'Deletar', manga_review_manga_path(@manga, review_manga.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% else %>
                  <div class="btn-group">
                    <%= link_to 'Deletar', manga_review_manga_path(@manga, review_manga.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% end %>
              <% elsif review_manga.user == current_user -%>
  	           <div class="btn-group">
  		             <%= link_to 'Editar', edit_manga_review_manga_path(@manga, review_manga.id), class: "btn btn-default" %>
                   <%= link_to 'Deletar', manga_review_manga_path(@manga, review_manga.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  	           </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_manga_path(@manga), class: "btn btn-default" %> |
    <%= link_to 'Voltar', mangas_path, class: "btn btn-default" %> |
    <%= link_to 'Deletar', manga_path(@manga), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Voltar', mangas_path, class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Voltar', mangas_path, class: "btn btn-default" %>
<% end %>
