<h2>Editar Informações</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "nome" %>
  </div>

  <div class="field">
    <%= f.label raw("E-mail") %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nova_senha %> <i>(Deixe em branco se não deseja mudar sua senha)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres no mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmação_da_nova_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :senha_atual %> <i>(Precisamos da sua senha atual para confirmar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Não desejo mais possuir uma conta</h3>

<p><%= button_to "Deletar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>
<%= link_to "Voltar", :back %>
