<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sinopse %><br>
    <%= form.text_area :synopsis %>
  </div>

  <div class="field">
    <%= form.label :duração %><br>
    <%= form.text_field :length %>
  </div>

  <div class="field">
    <%= form.label :diretor %><br>
    <%= form.text_field :director %>
  </div>

  <div class="field">
    <%= form.label raw("Gênero(s)") %><br>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :data_de_lançamento %><br>
    <%= form.text_area :release_date %>
  </div>

  <div class="field">
    <%= form.label :classificação %><br>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :imagem %><br>
    <%= form.file_field :image, required: true %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Filme") %>
  </div>
<% end %>
