<%= form_for([@anime, @review_anime]) do |form| %>
  <% if review_anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_anime.errors.count, "error") %> prohibited this review_anime from being saved:</h2>

      <ul>
      <% review_anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %><br>
    <%= form.number_field :rating, min:0 ,max:10 %>
  </div>

  <div class="field">
    <%= form.label :análise %><br>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Análise") %>
  </div>
<% end %>
