<%= form_for([@manga, @review_manga]) do |form| %>
  <% if review_manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_manga.errors.count, "error") %> prohibited this review_manga from being saved:</h2>

      <ul>
      <% review_manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nota %><br>
    <%= form.number_field :rating, min:0 ,max:10 %>
  </div>

  <div class="field">
    <%= form.label :Análise %><br>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Análise") %>
  </div>
<% end %>
