<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div style="width:450px;height:650px">
          <%= image_tag(@game.image, style:'width:100%;height:100%') %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 25%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Título:</strong></td>
                <td><%= @game.title %></td>
              </tr>
              <tr>
                <td><strong>Descrição:</strong></td>
                <td><%= @game.description %></td>
              </tr>
              <tr>
                <td><strong>Gênero(s):</strong></td>
                <td><%= @game.genre %></td>
              </tr>
              <tr>
                <td><strong>Desenvolvedora:</strong></td>
                <td><%= @game.developer %></td>
              </tr>
              <tr>
                <td><strong>Gênero(s):</strong></td>
                <td><%= @game.genre %></td>
              </tr>
              <tr>
                <td><strong>Publisher:</strong></td>
                <td><%= @game.publisher %></td>
              </tr>
              <tr>
                <td><strong>Classificação:</strong></td>
                <td><%= @game.rating %></td>
              </tr>
              <tr>
                <td><strong>Data de lançamento:</strong></td>
                <td><%= @game.release_date %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Escrever uma análise", new_game_review_game_path(@game) %>
        </div>
      </div>
    </div>
    <div class="row-md-offset-3">
      <div><h3>Análises</h3></div>
      <% if @review_games.blank? %>
        <h3>Sem análises</h3>
        <%= link_to "Escrever análise", new_game_review_game_path(@game), class: "btn btn-danger" %>
      <% else %>
        <% @review_games.each do |review_game| %>
          <div class="reviews">
            <small class="author">Análise feita por: <%= review_game.user.name %></small></p>
            <p>Nota: <%= review_game.rating %></p>
            <p><%= review_game.comment %></p>
            <% if user_signed_in?%>
              <% if current_user.admin? -%>
                <% if review_game.user == current_user %>
                  <div class="btn-group">
                    <%= link_to 'Editar', edit_game_review_game_path(@game, review_game.id), class: "btn btn-default" %>
                    <%= link_to 'Deletar', game_review_game_path(@game, review_game.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% else %>
                  <div class="btn-group">
                    <%= link_to 'Deletar', game_review_game_path(@game, review_game.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% end %>
              <% elsif review_game.user == current_user -%>
  	           <div class="btn-group">
  		             <%= link_to 'Editar', edit_game_review_game_path(@game, review_game.id), class: "btn btn-default" %>
                   <%= link_to 'Deletar', game_review_game_path(@game, review_game.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  	           </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_game_path(@game), class: "btn btn-default" %> |
    <%= link_to 'Voltar', games_path, class: "btn btn-default" %> |
    <%= link_to 'Deletar', game_path(@game), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Voltar', games_path, class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Voltar', games_path, class: "btn btn-default" %>
<% end %>
