<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Review dos seus livros favoritos</h1>
    <p>Crie uma conta para compartilhar seus pensamentos sobre suas obras favoritas!</p>
    <p><%= link_to "Inscreva-se", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag book.image, style: 'height:400px', class: 'image'), book %>
      </div>
    </div>
  <% end %>
</div>
