<h1><center>Reviewrama</center></h1>

<h3><center>Bem vindo ao Reviewrama!</center></h3>

<h3><center>Aqui você pode compartilhar seus pensamentos e análises das suas obras favoritas.</center></h3>

<h3><center>Utilize a barra superior para navegar entre as categorias e ver as obras disponíveis.</center></h3>

<% if Anime.any? || Movie.any? || Manga.any? || Game.any? || Book.any? %>
  <h3><center>Aqui estão algumas das últimas adições à nossa biblioteca:</center></h3>
  <div class="row">
      <% if Anime.any? %>
      <div class="col-md-3">
        <div class="thumbnail">
          <h4><center>Anime mais recente</center></h4>
          <%= link_to (image_tag(Anime.order("created_at").last.image, style: 'height:400px')), Anime.order("created_at").last %>
        </div>
      </div>
      <%end%>
      <% if Movie.any? %>
      <div class="col-sm-1 col-md-3">
        <div class="thumbnail">
          <h4><center>Filme mais recente</center></h4>
          <%= link_to (image_tag(Movie.order("created_at").last.image, style: 'height:400px')), Movie.order("created_at").last %>
        </div>
      </div>
      <% end %>
      <% if Manga.any? %>
      <div class="col-sm-1 col-md-3">
        <div class="thumbnail">
          <h4><center>Mangá mais recente</center></h4>
          <%= link_to (image_tag(Manga.order("created_at").last.image, style: 'height:400px')), Manga.order("created_at").last %>
        </div>
      </div>
      <% end %>
      <% if Game.any? %>
      <div class="col-sm-1 col-md-3">
        <div class="thumbnail">
          <h4><center>Jogo mais recente</center></h4>
          <%= link_to (image_tag(Game.order("created_at").last.image, style: 'height:400px')), Game.order("created_at").last %>
        </div>
      </div>
      <% end %>
      <% if Book.any? %>
      <div class="col-sm-1 col-md-3">
        <div class="thumbnail">
          <h4><center>Livro mais recente</center></h4>
          <%= link_to (image_tag(Book.order("created_at").last.image, style: 'height:400px')), Book.order("created_at").last %>
        </div>
      </div>
      <% end %>
  </div>
<% else %>
  <h3><center>Desculpe! Nossa biblioteca ainda está vazia.</center></h3>
<% end %>
