<%= form_with(model: anime, local: true) do |form| %>
  <% if anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :sinopse %><br>
    <%= form.text_area :synopsis %>
  </div>

  <div class="field">
    <%= form.label raw("Gênero(s)") %><br>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :anterior %><br>
    <%= form.text_field :prequel %>
  </div>

  <div class="field">
    <%= form.label :seguinte %><br>
    <%= form.text_field :sequel %>
  </div>

  <div class="field">
    <%= form.label :classificação %><br>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :data_de_lançamento %><br>
    <%= form.text_field :release_date %>
  </div>

  <div class="field">
    <%= form.label :imagem %><br>
    <%= form.file_field :image, required: true %>
  </div>

  <div class="actions">
    <%= form.submit raw("Criar/Atualizar Anime") %>
  </div>
<% end %>
