<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div style="width:450px;height:650px">
          <%= image_tag(@anime.image, style:'width:100%;height:100%') %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 25%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Título:</strong></td>
                <td><%= @anime.title %></td>
              </tr>
              <tr>
                <td><strong>Sinopse:</strong></td>
                <td><%= @anime.synopsis %></td>
              </tr>
              <tr>
                <td><strong>Gênero(s):</strong></td>
                <td><%= @anime.genre %></td>
              </tr>
              <tr>
                <td><strong>Seguinte:</strong></td>
                <td><%= @anime.sequel %></td>
              </tr>
              <tr>
                <td><strong>Anterior:</strong></td>
                <td><%= @anime.prequel %></td>
              </tr>
              <tr>
                <td><strong>Classificação:</strong></td>
                <td><%= @anime.rating %></td>
              </tr>
              <tr>
                <td><strong>Data de lançamento:</strong></td>
                <td><%= @anime.release_date %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Escrever uma análise", new_anime_review_anime_path(@anime) %>
        </div>
      </div>
    </div>
    <div class="row-md-offset-3">
      <div><h3>Análises</h3></div>
      <% if @review_animes.blank? %>
        <h3>Sem análises</h3>
        <%= link_to "Escrever análise", new_anime_review_anime_path(@anime), class: "btn btn-danger" %>
      <% else %>
        <% @review_animes.each do |review_anime| %>
          <div class="reviews">
            <small class="author">Análise feita por: <%= review_anime.user.name %></small></p>
            <p>Nota: <%= review_anime.rating %></p>
            <p><%= review_anime.comment %></p>
            <% if user_signed_in?%>
              <% if current_user.admin? -%>
                <% if review_anime.user == current_user %>
                  <div class="btn-group">
                    <%= link_to 'Editar', edit_anime_review_anime_path(@anime, review_anime.id), class: "btn btn-default" %>
                    <%= link_to 'Deletar', anime_review_anime_path(@anime, review_anime.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% else %>
                  <div class="btn-group">
                    <%= link_to 'Deletar', anime_review_anime_path(@anime, review_anime.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
                  </div>
                <% end %>
              <% elsif review_anime.user == current_user -%>
  	           <div class="btn-group">
  		             <%= link_to 'Editar', edit_anime_review_anime_path(@anime, review_anime.id), class: "btn btn-default" %>
                   <%= link_to 'Deletar', anime_review_anime_path(@anime, review_anime.id), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  	           </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_anime_path(@anime), class: "btn btn-default"  %> |
    <%= link_to 'Voltar', animes_path, class: "btn btn-default" %> |
    <%= link_to 'Deletar', anime_path(@anime), data: {:confirm => "Tem certeza?"}, :method => :delete, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Voltar', animes_path, class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Voltar', animes_path, class: "btn btn-default" %>
<% end %>
