<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Reviewrama", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
          <li><%= link_to "Animes", animes_path %><%= link_to "Novo", new_anime_path, class: "active"%></li>
          <li><%= link_to "Livros", books_path %><%= link_to "Novo", new_book_path, class: "active"%></li>
          <li><%= link_to "Jogos", games_path %><%= link_to "Novo", new_game_path, class: "active"%></li>
          <li><%= link_to "Mangás", mangas_path %><%= link_to "Novo", new_manga_path, class: "active"%></li>
          <li><%= link_to "Filmes", movies_path %><%= link_to "Novo", new_movie_path, class: "active"%></li>
          <li><%= link_to "Conta", edit_user_registration_path %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to "Animes", animes_path %></li>
          <li><%= link_to "Livros", books_path %></li>
          <li><%= link_to "Jogos", games_path %></li>
          <li><%= link_to "Mangás", mangas_path %></li>
          <li><%= link_to "Filmes", movies_path %></li>
          <li><%= link_to "Conta", edit_user_registration_path %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
          <% end %>
          <%else %>
          <li><%= link_to "Animes", animes_path %></li>
          <li><%= link_to "Livros", books_path %></li>
          <li><%= link_to "Jogos", games_path %></li>
          <li><%= link_to "Mangás", mangas_path %></li>
          <li><%= link_to "Filmes", movies_path %></li>
          <li><%= link_to "Registrar", new_user_registration_path, class: "active" %></li>
          <li><%= link_to "Entrar", new_user_session_path, class: "active" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
